.row > div {
  float: left;
  width: 100px;
  height: 100px;
}

.row {
  clear: both;
  margin: auto;
  width: 302px;
}

.top:hover,
.middle:hover,
.bottom:hover,
.center:hover {
  cursor: pointer;
}

.top {
  border-bottom: 1px solid #000;
}

.bottom {
  border-top: 1px solid #000;
}

.left {
  border-right: 1px solid #000;
}

.right {
  border-left: 1px solid #000;
}

#board {
  padding-top: 3em;
  text-align: center;
}
